.members-section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.members-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.team-members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}


.member-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}