.members-section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.members-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #2D3F68;
}

.team-members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}


.member-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.member-image-modal {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 50px auto 20px; 
}
/* Ikon-lenker */
.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icon-link:hover {
  transform: scale(1.1); /* Liten zoom-effekt på hover */
}

/* Ikoner */
.icon {
  font-size: 1.5rem; /* Størrelse på ikonene */
  color: #2d3f68; /* Fargen på ikonene */
  transition: color 0.2s ease;
}

.icon-link:hover .icon {
  color: #3c8a53; /* Endre farge på hover (valgfritt) */
}