.bachelor-section {
  background-color: #2d3f68; 
  color: #F5F5DC;
  text-align: center;
  padding: 100px 20px;
  font-family: Arial, sans-serif;
}

.bachelor-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.bachelor-section p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.quality-section {
  background-color: #ffffff;
  text-align: center;
  padding: 100px 20px;
  font-family: Arial, sans-serif;
}

.quality-section h2 {
  color: #2d3f68; 
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.quality-section p {
  color: #555;
  line-height: 1.6;
  font-size: 1.05rem;
  margin-bottom: 1px;
  max-width: 800px;
  margin: 0 auto;
}