.projects-section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.projects-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.project-card {
  padding: 20px; /* flyttet hit */
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.project-card:hover {
  background-color: #f9f9f9;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #013a77;
}

.project-card p {
  color: #555;
  line-height: 1.5;

}

hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
 
button {
  background-color: #57a5f9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

a {
  color: rgb(10, 134, 243);
  text-decoration-line: none;
}